<div class="section__one">
  <div class="logo__wrapper" (click)="homePage()">
    <img
      class="img__logo rotate"
      src="../../assets/images/ph-logo-circle.png"
      alt=""
    />
    <p class="logo__text">Potter's House Church</p>
  </div>
  <div class="link__wrapper">
    <p class="link">Home</p>
    <p class="link">Pages</p>
    <p class="link">Donations</p>
    <p class="link">Events</p>
    <p class="link">Blogs</p>
    <p class="link">Contact Us</p>
  </div>
  <div class="link__wrapper__two">
    <i class="ri-customer-service-line service__icon"></i>
    <div class="call__wrapper">
      <p>Call Us Now</p>
      <p>(+234) 1234 567 890</p>
    </div>
    <button class="button__two desktop">Donate Now</button>
    <i (click)="showMenu()" class="ri-menu-3-line menu__icon mobile"></i>
  </div>
</div>
