/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: none;
  overflow-y: none;
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary-color2) #000000;
  letter-spacing: 1px;
}
:root {
  --header-color: #fbfbfb !important;
  --primary-color: #002788 !important;
  --tertiary-color: #0026ff !important;
  --tertiary-color2: #000a3e !important;
  --tertiary-color3: #ff1c03 !important;
  --secondaryBtn-color: #eff6fe !important;
  --text-color: #343639 !important;
  --default-padding-btn: 15px 30px;
  --default-border-radius-btn: 30px;
  --default-padding-btnSmall: 5px 10px;
  --default-padding-btnMedium: 8px 16px;
  --shadow1: 0px 8px 20px rgba(238, 240, 244, 0.492);
  --shadow2: 0px 22px 20px rgba(238, 240, 244, 0.65);
  --border-radius0: 5px;
  --border-radius1: 10px;
  --border-radius2: 20px;
  --border-radius3: 4px;
  --white: #fff;
  --padding-top: 10px;
  --paddiing-bottom: 10px;
  --padding-right: 10px;
  --padding-left: 10px;
  --padding10: 10px;
  --padding20: 20px;
  --padding30: 30px;
  --border: 2px solid rgba(245, 131, 31, 0.167);
  --border2: 1px solid rgba(230, 230, 230, 0.759);
  --date-input-border: 1px solid #e5e9f2;
  --pageBg: #fdfdfd;
  --cardBg: #fafafa;
  --pop-up-shadow: 0px 20px 48px 0px rgba(108, 145, 174, 0.12);
  --sidebaritems: #abbff3;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@font-face {
  font-family: "jakarta";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
img {
  cursor: pointer;
}
body {
  font-family: "jakarta";
  box-sizing: border-box;
  font-variation-settings: "wght" 350;
  color: var(--text-color);
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--pageBg);
}
.p10 {
  padding-top: 10px;
}
.p20 {
  padding-top: 20px;
}
.p30 {
  padding-top: 30px;
}
.p40 {
  padding-top: 40px;
}
.p50 {
  padding-top: 50px;
}
.title {
  color: #fff;
  font-size: 35px;
  line-height: 55px;
  font-family: "jakarta";
}
.sub__title {
  font-size: 25px;
  line-height: 40px;
  font-family: "jakarta";
}
.mivLogo {
  width: 23%;
}
h4 {
  font-family: "jakarta";
  word-break: break-word;
  line-height: 1.8;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  font-variation-settings: "wght" 800;
}

h3 {
  font-family: "jakarta";
  word-break: break-word;
  line-height: 1.8;
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
  font-variation-settings: "wght" 400;
}

h2 {
  font-family: "jakarta";
  word-break: break-word;
  line-height: 1.8;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
  font-variation-settings: "wght" 500;
}

h1 {
  font-family: "jakarta";
  word-break: break-word;
  line-height: 1.8;
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-variation-settings: "wght" 500;
}
.text__center {
  text-align: center;
}
.text__left {
  text-align: left;
}
.pText {
  font-family: "jakarta";
  font-size: clamp(0.8rem, 2.5vw, 0.913rem);
  word-break: break-word;
  font-variation-settings: "wght" 300;
}

.pSubText {
  font-family: "jakarta";
  font-variation-settings: "wght" 300;
  font-size: clamp(0.7rem, 2.5vw, 0.8rem);
  line-height: 1.6;
  word-break: break-word;
}

/* NavBar Style  */

.img__logo {
  width: 40px;
  cursor: pointer;
}
.section__one__two__bg {
  background: url(/assets/images/family2.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  /* height: 100vh; */
}
.section__one {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background-color: var(--header-color);
  color: var(--primary-color);
}

.link__wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.link__wrapper.active {
  opacity: 1;
  visibility: visible;
}

.link__wrapper__two {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.service__icon {
  font-size: 30px;
}
.logo__text {
  display: flex;
  width: 60px;
  line-height: 14px;
  cursor: pointer;
}
.logo__wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px 0;
}

/* NavBAr Style  */

p {
  font-family: "jakarta";
  font-variation-settings: "wght" 300;
  font-size: clamp(0.7rem, 2.5vw, 0.8rem);
  line-height: 1.6;
  word-break: break-word;
}
.primary__color {
  color: var(--primary-color);
}
button {
  cursor: pointer;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
}
.btn__wrapper {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.button__one {
  background-color: var(--primary-color);
  border: none;
  padding: 8px 28px;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
  font-family: "jakarta";
  font-variation-settings: "wght" 300;
  width: fit-content;
}
.button__one:hover {
  background-color: var(--tertiary-color);
}
.button__two {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 32px;
  cursor: pointer;
  width: 140px;
  font-family: "jakarta";
  font-variation-settings: "wght" 300;
}
.button__three {
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 32px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  font-family: "jakarta";
  font-variation-settings: "wght" 300;
}
.button__three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: width 0.4s ease-in-out;
  border-radius: 32px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
}

.button__three:hover::after {
  width: 100%;
  transform: scaleX(1);
  transition: transform 1s ease;
}
.button__two:hover,
.button__three:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}
.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  /* color: #fff; */
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--tertiary-color);
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}
.mobile {
  display: none;
}
.menu__icon {
  color: var(--primary-color) !important;
  font-size: 30px;
}
.img__logo__two {
  width: 6%;
}
.img__logo__two__two {
  width: 4%;
}
.img__logo__three {
  position: absolute;
  top: 2%;
  right: 28px;
  transform: translateY(-50%);
  width: 50px;
}
.icon__wwe {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.icon__wwe__center {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin: auto;
  justify-content: center;
}
.span__one {
  color: var(--primary-color);
}
.span__two {
  color: var(--primary-color);
  font-weight: 600;
}
.women__praying {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
}
.image__container {
  padding: 0 20px;
  position: relative;
  display: inline-block;
}

.number__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.number__bold {
  font-weight: bold;
  font-size: 30px;
}

.section__four__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  color: #fff;
  justify-content: center;
}
.section__four__card {
  background-color: var(--cardBg);
  box-shadow: 0 0 3px rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  padding: 12px 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.centered__btn {
  display: block;
  margin: 10px auto;
}
.section__four__img {
  width: 100%;
  border-radius: 12px;
}

.grid__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.grid__card__two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 4rem;
  padding: 10px;
}
.tab__button {
  padding: 6px 24px;
  background-color: var(--primary-color);
  border: 1px solid #002788;
  border-radius: 12px;
  color: #fff;
}
.tab__wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.icon__content {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.cross__icon {
  color: var(--tertiary-color3);
}
.tab__details__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 30vh;
}
.tab__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 15px;
}
.icon__content {
  display: flex;
  column-gap: 10px;
}
.pastors__card {
  width: 100%;
}
.pastors__image {
  width: 100%;
  border-radius: 12px;
}

.section__six {
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  padding: 6% 5%;
  /* height: 70vh; */
  text-align: center;
}
.section__seven {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  padding: 6% 5%;
  width: 100%;
}
.blog__right__details {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
}
.date__chat__icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog__card__wrapper {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.blog__image {
  width: 280px;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .call__wrapper,
  .service__icon {
    display: none;
  }
  .title__wrapper {
    width: 100%;
    padding: 10px;
  }
  .title {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-family: "jakarta";
  }
}
@media (min-width: 1024px) {
}

@media (max-width: 900px) {
  .mivLogo {
    width: 30%;
  }
  h1 {
    font-size: 35px !important;
    line-height: 50px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  h3 {
    font-size: 30px !important;
  }
  h4 {
    font-size: 28px !important;
  }
  h5 {
    font-size: 26px !important;
  }
  h6 {
    font-size: 24px !important;
  }
  .logo__text {
    /* font-size: 18px !important; */
  }
  .pText {
    font-size: 25px !important;
  }
  .pSubText {
    font-size: 20px !important;
  }
  .section__one__two__bg {
    height: 60vh !important;
  }
  .title__wrapper {
    padding: 0 20px !important;
    width: 100%;
    height: 50vh !important;
  }
  .link__wrapper {
    display: none !important;
  }
  .link__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color, rgba(0, 0, 0, 0.85));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    color: #fff;
  }
  .section__one {
    padding: 10px !important;
  }
  .section__three__wrapper {
    flex-direction: column;
    row-gap: 60px;
    width: 100%;
  }
  .left {
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }

  .icon__wwe {
    align-items: center !important;
    justify-content: center;
  }
  .section__three__wrapper__two {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 2% !important;
  }
  .section__three__card {
    align-items: center !important;
  }
  .section__five {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .section__six {
    padding: 30px !important;
    justify-content: center;
  }
  .video__wrapper {
    width: 40%;
  }
  .blog__card__wrapper {
    flex-direction: column;
  }
  .blog__right__details {
    align-items: center;
  }
}
@media (max-width: 768px) {
}
