/* section two  */
.section__two {
  padding: 7% 0;
}
.title__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 70vh;
  padding: 6% 12%;
}
/* section three  */

.section__three {
  background-color: var(--pageBg);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 6% 5%;
}
.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: start;
}
.right {
}
.section__three__wrapper {
  display: flex;
  column-gap: 100px;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section__three__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__three__wrapper__two {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  width: 100%;
}

.section__four {
  background: url(../../assets/images/wallpaper\ latern.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  row-gap: 70px;
  padding: 6% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 90vh; */
  padding: 6% 5%;
}
