/* section two  */
.section__two {
  padding: 7% 0;
}
.title__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 70vh;
  padding: 6% 12%;
}
/* section three  */

.section__three {
  background-color: var(--pageBg);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 6% 5%;
}
.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.section__three__wrapper {
  display: flex;
  column-gap: 100px;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section__three__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__three__wrapper__two {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section__four {
  background: url(../../assets/images/wallpaper\ latern.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  row-gap: 70px;
  padding: 6% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__five {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 5%;
  width: 100%;
  margin: 0 auto;
}
.left__five {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 3%;
}

/* Logo Animation  */
.rotate {
  animation: rotate 5s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
