<div class="container">
  <div class="section__one__two__bg">
    <div class="section__one">
      <div class="logo__wrapper" (click)="homePage()">
        <img
          class="img__logo"
          src="../../assets/images/ph logo circle.png"
          alt=""
        />
        <p class="logo__text">Potter's House Church</p>
      </div>
      <div class="link__wrapper">
        <p class="link">Home</p>
        <p class="link">Pages</p>
        <p class="link">Donations</p>
        <p class="link">Events</p>
        <p class="link">Blogs</p>
        <p class="link">Contact Us</p>
      </div>
      <div class="link__wrapper__two">
        <i class="ri-customer-service-line service__icon"></i>
        <div class="call__wrapper">
          <p>Call Us Now</p>
          <p>(+234) 1234 567 890</p>
        </div>
        <button class="button__three desktop">Donate Now</button>
        <i (click)="showMenu()" class="ri-menu-3-line menu__icon mobile"></i>
      </div>
    </div>
    <div class="section__two">
      <div class="title__wrapper">
        <img
          class="mivLogo"
          src="../../assets/images/ph logo circle.png"
          alt=""
        />
        <h1 class="title">
          Reaching the unreached at all cost and reawakening the church to her
          responsibilities
          <!-- {{ currentText }} -->
        </h1>
        <div class="btn__wrapper">
          <button class="button__one">Watch Live</button>
          <button class="button__three">Explore Sermons</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section__three">
    <div class="section__three__wrapper__one">
      <div class="section__three__wrapper">
        <div class="section__three__left">
          <div class="icon__wwe">
            <img
              class="img__logo__two"
              src="/assets/images/ph logo circle.png"
              alt=""
            />
            <p class="pText">Who we are</p>
          </div>
          <h2 class="sub__title">
            Your Journey begins here no
            <span class="span__one">matter where</span> you've been, find hope
            and healing
          </h2>
          <p class="pSubText">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
            repellat accusamus sed, eligendi a debitis unde pariatur reiciendis
            minima praesentium non corporis neque dignissimos eum voluptatibus
            est repellendus accusantium officia.
          </p>
          <div class="btn__wrapper">
            <button class="button__one">About Us</button>
            <button class="button__two">Donate Now</button>
          </div>
        </div>
        <div class="section__three__right">
          <div class="image__container">
            <img
              class="women__praying"
              src="../../assets/images/women praying.jpg"
              alt=""
            />
            <img
              class="img__logo__three"
              src="../../assets/images/ph logo circle.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="section__three__wrapper__two">
      <div class="section__three__card">
        <p>Sermons Preached</p>
        <div class="number__wrapper">
          <h4 class="number__bold">45K</h4>
          <h4>+</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p>Baptisms Performed</p>
        <div class="number__wrapper">
          <h4 class="number__bold">55K</h4>
          <h4>+</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p>Podcast Downloads</p>
        <div class="number__wrapper">
          <h4 class="number__bold">38K</h4>
          <h4>+</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p>Years in Ministry</p>
        <div class="number__wrapper">
          <h4 class="number__bold">35K</h4>
          <h4>+</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
    </div>
  </div>
  <div class="section__four">
    <div class="section__four__top">
      <div class="icon__wwe__center">
        <img
          class="img__logo__two"
          src="/assets/images/ph logo circle.png"
          alt=""
        />
        <p class="pText">Featured Sermons</p>
      </div>
      <h2>Experience Real Sermons</h2>
      <div class="btn__wrapper p20">
        <button class="button__one">
          <i class="ri-file-word-2-line"></i> Read Sermons
        </button>
        <button class="button__three">
          <i class="ri-headphone-line"></i> Listen Sermons
        </button>
      </div>
    </div>
    <div class="section__four__bottom">
      <div class="section__four__card__wrapper">
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/band stage 2.jpeg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/PstJoel.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/PstJoel.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/band stage 2.jpeg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
      </div>
    </div>
    <button class="button__one">View Sermons</button>
  </div>
</div>
