<div class="container">
  <div class="section__one__two__bg">
    <navbar></navbar>
    <div class="section__two">
      <div class="title__wrapper">
        <img
          class="mivLogo p50"
          src="../../assets/images/ph-logo-circle.png"
          alt=""
        />
        <h1 class="title">
          Reaching the unreached at all cost and reawakening the church to her
          responsibilities
        </h1>
        <div class="btn__wrapper">
          <button class="button__one">
            <i class="ri-live-fill"></i> Watch Live
          </button>
          <button class="button__three">Explore Sermons</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section__three">
    <div class="section__three__wrapper__one">
      <div class="section__three__wrapper">
        <div class="left">
          <div class="icon__wwe">
            <img
              class="img__logo__two"
              src="/assets/images/ph-logo-circle.png"
              alt=""
            />
            <p class="pText">Who we are</p>
          </div>
          <h2 class="sub__title">
            Your Journey begins here no
            <span class="span__one">matter where</span> you've been, find hope
            and healing
          </h2>
          <p class="pSubText">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
            repellat accusamus sed, eligendi a debitis unde pariatur reiciendis
            minima praesentium non corporis neque dignissimos eum voluptatibus
            est repellendus accusantium officia.
          </p>
          <div class="btn__wrapper">
            <button class="button__one">About Us</button>
            <button class="button__two">Donate Now</button>
          </div>
        </div>
        <div class="section__three__right">
          <div class="image__container">
            <img
              class="women__praying"
              src="../../assets/images/women praying.jpg"
              alt=""
            />
            <img
              class="img__logo__three rotate"
              src="../../assets/images/ph-logo-circle.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="section__three__wrapper__two">
      <div class="section__three__card">
        <p class="pSubText">Sermons Preached</p>
        <div class="number__wrapper">
          <h4 class="number__bold">45K</h4>
          <h4>+</h4>
        </div>
        <p class="pSubText text__center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p class="pSubText">Baptisms Performed</p>
        <div class="number__wrapper">
          <h4 class="number__bold">55K</h4>
          <h4>+</h4>
        </div>
        <p class="pSubText text__center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p class="pSubText">Podcast Downloads</p>
        <div class="number__wrapper">
          <h4 class="number__bold">38K</h4>
          <h4>+</h4>
        </div>
        <p class="pSubText text__center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
      <div class="section__three__card">
        <p class="pSubText">Years in Ministry</p>
        <div class="number__wrapper">
          <h4 class="number__bold">35K</h4>
          <h4>+</h4>
        </div>
        <p class="pSubText text__center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta minus
          quasi error.
        </p>
      </div>
    </div>
  </div>
  <div class="section__four">
    <div class="section__four__top">
      <div class="icon__wwe__center">
        <img
          class="img__logo__two__two"
          src="/assets/images/ph-logo-circle.png"
          alt=""
        />
        <p class="pText">Featured Sermons</p>
      </div>
      <h2 class="sub__title">Experience Real Sermons</h2>
      <div class="btn__wrapper p20">
        <button class="button__one">
          <i class="ri-file-word-2-line"></i> Read Sermons
        </button>
        <button class="button__one">
          <i class="ri-headphone-line"></i> Listen Sermons
        </button>
      </div>
    </div>
    <div class="section__four__bottom">
      <div class="grid__card">
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/women praying.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/bible-reading.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/hands-up.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
        <div class="section__four__card">
          <img
            class="section__four__img"
            src="../../assets/images/worship.jpg"
            alt=""
          />
          <h4 class="pSubText">
            Build a lasting relationship and connect with community
          </h4>
          <button class="button__two">More Details</button>
        </div>
      </div>
    </div>
    <button class="button__one centered__btn">View Sermons</button>
  </div>

  <div class="section__five">
    <div class="left">
      <div class="icon__wwe">
        <img
          class="img__logo__two"
          src="/assets/images/ph-logo-circle.png"
          alt=""
        />
        <p class="pText">What we do</p>
      </div>
      <h2 class="sub__title">
        <span class="span__one">A Santuary</span> for the soul,
        <span class="span__one">A Home</span> for the heart.
      </h2>
      <div class="tab__wrapper">
        <button
          [ngStyle]="{
            'background-color':
              activeTab === 'mission' ? '#002788 ' : 'transparent',
            color: activeTab === 'mission' ? 'white' : 'black'
          }"
          (click)="activeTab = 'mission'"
          class="tab__button"
        >
          Our Mission
        </button>
        <button
          [ngStyle]="{
            'background-color':
              activeTab === 'vision' ? '#002788 ' : 'transparent',
            color: activeTab === 'vision' ? 'white' : 'black'
          }"
          (click)="activeTab = 'vision'"
          class="tab__button"
        >
          Our Vision
        </button>
        <button
          [ngStyle]="{
            'background-color':
              activeTab === 'value' ? '#002788 ' : 'transparent',
            color: activeTab === 'value' ? 'white' : 'black'
          }"
          (click)="activeTab = 'value'"
          class="tab__button"
        >
          Our Values
        </button>
      </div>
      <div [ngSwitch]="activeTab" class="tab__details__wrapper">
        <div *ngSwitchCase="'mission'" class="tab__details">
          <p class="pSubText text__left">
            <span class="span__two">Our Mission:</span> Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Cupiditate autem eos temporibus
            molestiae laboriosam perferendis asperiores non possimus nobis. Et
            provident maiores harum aliquam adipisci? Blanditiis, fuga nihil?
            Ea, necessitatibus.
          </p>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div *ngSwitchCase="'vision'" class="tab__details">
          <p class="pSubText text__left">
            <span class="span__two">Our Vision:</span> Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Cupiditate autem eos temporibus
            molestiae laboriosam perferendis asperiores non possimus nobis. Et
            provident maiores harum aliquam adipisci? Blanditiis, fuga nihil?
            Ea, necessitatibus.
          </p>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div *ngSwitchCase="'value'" class="tab__details">
          <p class="pSubText text__left">
            <span class="span__two">Our Value:</span> Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate autem eos temporibus
            molestiae laboriosam perferendis asperiores non possimus nobis. Et
            provident maiores harum aliquam adipisci? Blanditiis, fuga nihil?
            Ea, necessitatibus.
          </p>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="icon__content">
            <i class="ri ri-cross-line cross__icon"></i>
            <p class="pSubText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <button class="button__one">More Details</button>
      </div>
    </div>
    <div class="right">
      <div>
        <a href="https://www.youtube.com/watch?v=uwsPRcCwZDE" target="_blank">
          <img
            class="video__wrapper"
            src="https://img.youtube.com/vi/uwsPRcCwZDE/hqdefault.jpg"
            alt="Video Thumbnail"
            style="
              width: 500px;
              border-radius: 8px;
              cursor: pointer;
              margin: 120px 0;
            "
          />
        </a>
      </div>
    </div>
  </div>
  <div class="section__six">
    <div class="left">
      <div class="icon__wwe">
        <img
          class="img__logo__two"
          src="/assets/images/ph-logo-circle.png"
          alt=""
        />
        <p class="pText">Church Pastors</p>
      </div>
      <h2 class="sub__title">Feel God closer to Pastors</h2>
    </div>
    <div class="right">
      <div class="grid__card">
        <div class="pastors__card">
          <img
            class="pastors__image"
            src="../../assets/images/family.jpg"
            alt=""
          />
        </div>
        <div class="pastors__card">
          <img
            class="pastors__image"
            src="../../assets/images/PstChris.jpg"
            alt=""
          />
        </div>
        <div class="pastors__card">
          <img
            class="pastors__image"
            src="../../assets/images/women praying.jpg"
            alt=""
          />
        </div>
        <div class="pastors__card">
          <img
            class="pastors__image"
            src="../../assets/images/family2.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section__seven">
    <div class="section__four__top">
      <div class="icon__wwe__center primary__color">
        <img
          class="img__logo__two__two"
          src="/assets/images/ph-logo-circle.png"
          alt=""
        />
        <p class="pText">Blogs & News</p>
      </div>
      <h2 class="sub__title primary__color">Latest Blogs & News</h2>
    </div>
    <div class="section__blog__bottom">
      <div class="grid__card__two">
        <div class="blog__card__wrapper">
          <div class="blog__left__image">
            <img
              class="blog__image"
              src="../../assets/images/hands-up.jpg"
              alt=""
            />
          </div>
          <div class="blog__right__details">
            <div class="date__chat__icon">
              <p><i class="ri-calendar-todo-fill"></i> 12 August, 2025</p>
              <p><i class="ri-message-2-fill"></i> 12 August, 2025</p>
            </div>
            <h4>A Modern Church with Ancient roots Faith Generations</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod</p>
            <button class="button__two">Read More</button>
          </div>
        </div>
        <div class="blog__card__wrapper">
          <div class="blog__left__image">
            <img
              class="blog__image"
              src="../../assets/images/bible-reading.jpg"
              alt=""
            />
          </div>
          <div class="blog__right__details">
            <div class="date__chat__icon">
              <p><i class="ri-calendar-todo-fill"></i> 12 August, 2025</p>
              <p><i class="ri-message-2-fill"></i> 12 August, 2025</p>
            </div>
            <h4>A Modern Church with Ancient roots Faith Generations</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod</p>
            <button class="button__two">Read More</button>
          </div>
        </div>
        <div class="blog__card__wrapper">
          <div class="blog__left__image">
            <img
              class="blog__image"
              src="../../assets/images/worship.jpg"
              alt=""
            />
          </div>
          <div class="blog__right__details">
            <div class="date__chat__icon">
              <p><i class="ri-calendar-todo-fill"></i> 12 August, 2025</p>
              <p><i class="ri-message-2-fill"></i> 12 August, 2025</p>
            </div>
            <h4>A Modern Church with Ancient roots Faith Generations</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod</p>
            <button class="button__two">Read More</button>
          </div>
        </div>
        <div class="blog__card__wrapper">
          <div class="blog__left__image">
            <img
              class="blog__image"
              src="../../assets/images/women praying.jpg"
              alt=""
            />
          </div>
          <div class="blog__right__details">
            <div class="date__chat__icon">
              <p><i class="ri-calendar-todo-fill"></i> 12 August, 2025</p>
              <p><i class="ri-message-2-fill"></i> 12 August, 2025</p>
            </div>
            <h4>A Modern Church with Ancient roots Faith Generations</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod</p>
            <button class="button__two">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <button class="button__one centered__btn">View Blog</button>
  </div>
</div>
