.img__logo {
  width: 45px;
  cursor: pointer;
}
div.section__one__two__bg {
  background: url(/assets/images/family2.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
}
.section__one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.link__wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.link__wrapper.active {
  opacity: 1;
  visibility: visible;
}

.link__wrapper__two {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.service__icon {
  font-size: 30px;
  color: #fff;
}
.logo__text {
  display: flex;
  width: 60px;
  line-height: 14px;
  cursor: pointer;
  color: #fff;
}
.logo__wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px 0;
}

/* section two  */
.section__two {
  padding: 5% 0;
}
.title__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  text-align: center;
  /* height: 100vh; */
}
/* section three  */

.section__three {
  background-color: var(--pageBg);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 6% 0;
}
.section__three__left {
  width: 36%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
}
.section__three__wrapper {
  display: flex;
  column-gap: 100px;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section__three__card {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section__three__wrapper__two {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  width: 100%;
}

/* section four  */
.section__four {
  background: url(../../assets/images/wallpaper\ latern.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 70px;
  padding: 6% 0;
}
